/* css styles */
#rotator{
    max-width: 100%;
    min-width: 300px;
    height: auto;
  }

  .row {
    display: flex;
  }
  
  @media only screen
    and (max-width: 800px) {
      .row {
        flex-direction: column;
      }
  }